<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title th:text="${title}"></title>
<head th:replace="frontend/layout :: head">
</head>
<body>
	<header th:replace="frontend/layout :: header"> </header>
	<nav id="navigation">
		<div class="container">
			<div id="responsive-nav">
				<ul class="main-nav nav navbar-nav">
					<li><a th:href="@{/}">Trang chủ</a></li>
					<li><a th:href="@{/danhsachsanpham}">Danh sách sản phẩm</a></li>
					<li><a href="/danhsachtintucfrontend">Tin tức</a></li>
					<li><a href="/theodoicorona">Theo dõi Corona</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="section">
		<div class="container">
			<div class="row">
				<div id="aside" class="col-md-3">
					<!-- aside Widget -->
					<form th:action="@{/timKiemSanPham}" method="get">
					<div class="aside">
						<h3 class="aside-title">Danh mục sản phẩm</h3>
						<div class="">
							<div class="" th:each="danhMuc : ${danhMuc}">
								<input type="checkbox" name="idDanhMuc" th:text="${danhMuc.ten}"
            						th:value="${danhMuc.id}" id="brand-1">
							</div>
						</div>
					</div>
						<div class="aside">
						<h3 class="aside-title">Danh mục nhà cung cấp</h3>
						<div>
							<div th:each="nhaCungCap : ${nhaCungCap}">
								<input type="checkbox" name="idNhaCungCap" th:text="${nhaCungCap.ten}"
            						th:value="${nhaCungCap.id}" id="brand-1">
							</div>
						</div>
					</div>
			
					<div class="aside">
						<h3 class="aside-title">Tìm kiếm theo giá sản phẩm</h3>
						<div class="price-filter">
						
							<div class="input-number price-min">
								<input id="price-min" type="number" name="giabatdau"> <span
									class="qty-up">+</span> <span class="qty-down">-</span>
							</div>
							<div class="input-number price-max">
								<input id="price-max" type="number" name="giaketthuc"> <span
									class="qty-up">+</span> <span class="qty-down">-</span>
							</div>
							<button type="submit" class="btn btn-danger">Tìm kiếm</button>
							
						</div>
					</div>
				</form>
					<div class="aside">
						<h3 class="aside-title">Top sản phẩm giảm giá</h3>
						<div class="product-widget" th:each="top3 : ${top3}">
							<div class="product-img">
								<img th:src="${top3.urlAnh}" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name">
									<a th:href="@{/findsanphambyid/{id}(id = ${top3.idSanpham.id})}"
											th:text="${top3.idSanpham.ten}"></a>
								</h3>
								<h4 class="product-price" th:text="${#numbers.formatDecimal(top3.idSanpham.giamgia,3,'POINT',0,'COMMA') +' đ'}">
								</h4>
								<del class="product-old-price" th:text="${#numbers.formatDecimal(top3.idSanpham.giaban,3,'POINT',0,'COMMA') +' đ'}"></del>
							</div>
						</div>

					</div>
				</div>
				<div id="store" class="col-md-9">
						<div class="row">
						<h3 th:utext=${tintucchitiet.tentintuc}></h3>
						<b th:utext=${tintucchitiet.motangan}>></b>
						<p th:utext=${tintucchitiet.noidung}></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="newsletter" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<div class="newsletter">
						<p>
						<strong>LIÊN HỆ VỚI CHÚNG TÔI NHÉ</strong>
						</p>
						<form action="#" th:action="@{/guilienhe}" method="get">
							<input class="input" type="email" name="email" placeholder="Email"/>
							<input class="input" type="text" name="hoten" placeholder="Họ tên"/>
							<input class="input" type="text" name="noidung" placeholder="Nội dung"/>
							<br>
							<button class="newsletter-btn" type="submit">
								<i class="fa fa-envelope"></i> LIÊN HỆ
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="frontend/layout :: footer"> </footer>
</body>
</html>
