<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title th:text="${title}"></title>
<head th:replace="frontend/layout :: head">
</head>
<body>
	<header th:replace="frontend/layout :: header"> </header>
	<!-- NAVIGATION -->
	<nav id="navigation">
		<div class="container">
			<div id="responsive-nav">
				<ul class="main-nav nav navbar-nav">
					<li><a th:href="@{/}">Trang chủ</a></li>
					<li><a th:href="@{/danhsachsanpham}">Danh sách sản phẩm</a></li>
					<li><a href="/danhsachtintucfrontend">Tin tức</a></li>
					<li><a href="/theodoicorona">Theo dõi Corona</a></li>
				</ul>
			</div>
		</div>
	</nav>
<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-7 order-details" style="background-color: #b30000">
							<h1 style="color:white;text-align: center;padding-top: 80px">Công ty TNHH Thủy Linh</h1>
							<h2 style="color:white;text-align: center">Cam kết sản phẩm và bảo hành chính hãng</h2>
					</div>
		
				<form th:action="@{'/register'}" th:object="${nguoiDungSignUpDTO}" method="post">
				<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">Đăng Ký</h3>
							<p style="color: red"></p>
						</div>
							<div class="form-group">
							<b>Tên người dùng:</b>
								<input class="input" type="text" name="hoten" th:field="*{hoten}" required>
							</div>
							<div class="form-group">
							<b>Email:</b>
								<input class="input" type="text" name="email" th:field="*{email}" required>
							</div>
							<div class="form-group">
							<b>Mật khẩu:</b>
								<input class="input" type="password" name="password" th:field="*{password}"required>
							</div>
							<div class="form-group">
							<b>Xác nhận mật khẩu:</b>
								<input class="input" type="password" name="confirmpassword" th:field="*{confirmpassword}" required>
							</div>
							
							<button class="primary-btn order-submit" type="submit">Đăng Ký</button>
							<a href="/trangdangnhap" style="color: red"><i class="fa fa-sign-in"></i>
						Đăng Nhập</a>
						<div class="text-center p-t-46 p-b-20">
						<span class="txt2">
							hoặc đăng ký bằng tài khoản
						</span>
					</div>
					<div class="login100-form-social flex-c-m">
						<a th:href="${'/facebooklogin'}" style="color: red">
							<i class="fa fa-facebook-f"></i>Đăng nhập bằng FaceBook
						</a>
					</div>
					</div>
					</form>
				</div>
		 </div>
  </div>
	<div id="newsletter" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<div class="newsletter">
						<p>
						<strong>LIÊN HỆ VỚI CHÚNG TÔI NHÉ</strong>
						</p>
						<form action="#" th:action="@{/guilienhe}" method="get">
							<input class="input" type="email" name="email" placeholder="Email"/>
							<input class="input" type="text" name="hoten" placeholder="Họ tên"/>
							<input class="input" type="text" name="noidung" placeholder="Nội dung"/>
							<br>
							<button class="newsletter-btn" type="submit">
								<i class="fa fa-envelope"></i> LIÊN HỆ
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="frontend/layout :: footer"> </footer>
</body>
</html>
