<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${danhMuc}"></title>
<head th:replace="admin/layout :: head">
<style>
.error {
	color: red;
}
</style>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">
		<nav th:replace="admin/layout :: header"></nav>
		<aside th:replace="admin/layout :: menu"></aside>
		<div class="content-wrapper">
			<br>
			<p class="text-success" th:if="${status != null}"
						th:text="${status}"></p>
			<form id="second_form" enctype="multipart/form-data"
				th:action="@{/quantrihethong/addNhanVienHeThong}" method="POST">
				<div class="form-row">
					<div class="form-group col-md-4">
						<label for="inputCity">Họ tên:</label> <input type="text"
							class="form-control" id="hoten" name="hoten" />
					</div>
					<div class="form-group col-md-4">
						<label for="inputCity"> Email:</label> <input type="text"
							class="form-control" id="email" name="email" />
					</div>
					<div class="form-group col-md-4">
						<label for="inputCity" style="width: 125px;">Điện thoại:</label> <input type="text" class="form-control" id="dienthoai"
							name="dienthoai" />
					</div>
				</div>
					<div class="form-row">
					<div class="form-group col-md-4">
						<label for="inputCity"> Địa chỉ:</label> <input type="text"
							class="form-control" id="diachi" name="diachi" />
					</div>
					<div class="form-group col-md-4">
						<label for="">Giới tính</label> <input type="radio"
							th:name="gioitinh" id="gioitinh" value="1"> <label
							class="radio-inline" for="nam">Nam</label> <input type="radio"
							th:name="gioitinh" id="gioitinh" value="2"> <label
							class="radio-inline" for="nu">Nữ</label>
					</div>
					<div class="form-group">
					<label for="nam">Quyền truy cập:</label> <select class="form-control"
						name="idquyen" id="idquyen">
					  		<option value="1" selected>Admin</option>
							<option value="2">Supper Admin</option>
					</select>
				</div>
				</div>
					<div class="form-row">
					<div class="form-group col-md-4">
						<label for="inputCity"> Mật khẩu:</label> <input type="password"
							class="form-control" id="matkhau" name="matkhau" />
					</div>
				
					<div class="form-group col-md-4">
						<label for="inputCity" style="width: 125px;">Nhập lại mật khẩu:</label> <input type="password" class="form-control" id="nhaplaimatkhau"
							name="nhaplaimatkhau" />
					</div>
				</div>
				<div class="form-group">
					<label for="motangan">Ảnh người dùng:</label> <input id="fileInput"
						type="file" name="uploadingFiles" onchange="updateSize();"
						multiple> Tổng số files: <span id="fileNum">0</span>; Tổng
					lưu lượng: <span id="fileSize">0</span>
				</div>
				<input class="btn btn-primary" type="submit" value="Lưu" />
			</form>
		</div>
		<footer th:replace="admin/layout :: footer"></footer>
		<aside class="control-sidebar control-sidebar-dark"></aside>
	</div>


	<script>
            function updateSize() {
                var nBytes = 0,
                        oFiles = document.getElementById("fileInput").files,
                        nFiles = oFiles.length;
                for (var nFileId = 0; nFileId < nFiles; nFileId++) {
                    nBytes += oFiles[nFileId].size;
                }

                var sOutput = nBytes + " bytes";
                // optional code for multiples approximation
                for (var aMultiples = ["KiB", "MiB", "GiB", "TiB", "PiB", "EiB", "ZiB", "YiB"], nMultiple = 0, nApprox = nBytes / 1024; nApprox > 1; nApprox /= 1024, nMultiple++) {
                    sOutput = nApprox.toFixed(3) + " " + aMultiples[nMultiple] + " (" + nBytes + " bytes)";
                }
                // end of optional code

                document.getElementById("fileNum").innerHTML = nFiles;
                document.getElementById("fileSize").innerHTML = sOutput;
            }
        </script>
</body>
</html>
