<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${phongBan}"></title>
<head th:replace="admin/layout :: head">
</head>

<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">
		<nav th:replace="admin/layout :: header"></nav>
		<aside th:replace="admin/layout :: menu"></aside>
		<div class="content-wrapper">
			<form id="second_form"
				th:action="@{/admin/thongkedoanhthutheongay}" method="get"
				enctype="multipart/form-data">
				<h3 class="modal-title">Tạo thống kê doanh thu theo ngày</h3>

				<div class="form-row">
						<div class="form-group col-md-4">
						<label for="ngaysinh">Ngày:</label> <select class="form-control"
							id="ngay" th:name="ngay">
							<option value="">Ngày</option>
							<option th:each="ngay : ${ngay}" th:value="${ngay}"
								th:utext="${'Ngày '+ ngay}"></option>
						</select>
					</div>
					<div class="form-group col-md-4">
						<label for="ngaysinh">Tháng:</label> <select class="form-control"
							id="thang" th:name="thang">
							<option value="">Tháng</option>
							<option th:each="thang : ${thang}" th:value="${thang}"
								th:utext="${'Tháng '+ thang}"></option>
						</select>
					</div>
					<div class="form-group col-md-4">
						<label for="ngaysinh">Năm:</label> <select class="form-control"
							id="nam" th:name="nam">
							<option value="">Năm</option>
							<option th:each="nam : ${nam}" th:value="${nam}"
								th:utext="${'Năm '+ nam}"></option>
						</select>
					</div>
				</div>

				<button type="submit" class="btn btn-primary">Xem thống kê</button>
			</form>
			<script>
				$('#second_form').validate({
					rules : {
						ngay : {
							required : true
						},
						nam : {
							required : true
						},
						thang : {
							required : true
						}
					},
					messages : {
						ngay : {
							required : 'Yêu cầu chọn ngày'
						},
						nam : {
							required : 'Yêu cầu chọn năm'
						},
						thang : {
							required : 'Yêu cầu chọn tháng'
						}
					},
					submitHandler : function(form) {
						form.submit();
					}
				});
			</script>
		</div>
		<footer th:replace="admin/layout :: footer"></footer>
		<aside class="control-sidebar control-sidebar-dark"></aside>
	</div>
</body>
</html>
