<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${themSanPham}"></title>
<head th:replace="admin/layout :: head">
<style>
.error {
	color: red;
}
</style>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">
		<nav th:replace="admin/layout :: header"></nav>
		<aside th:replace="admin/layout :: menu"></aside>
		<div class="content-wrapper">
			<br>
			<p class="text-success" th:if="${status != null}" th:text="${status}"></p>
			<form id="second_form" enctype="multipart/form-data"
				th:action="@{/admin/addSanPham}" method="POST">
				<div class="form-group">
					<label for="tensanpham">Tên sản phẩm:</label> <input type="text"
						class="form-control" id="tensanpham" name="tensanpham" />
				</div>
				<div class="form-row">
					<div class="form-group col-md-4">
						<label for="inputCity"> Giá nhập:</label> <input type="number"
							class="form-control" id="gianhap" name="gianhap" />
					</div>
					<div class="form-group col-md-4">
						<label for="inputCity">Giá bán:</label> <input type="number"
							class="form-control" id="giaban" name="giaban" />
					</div>
					<div class="form-group col-md-4">
						<label for="inputCity" style="width: 125px;">Giá khuyến
							mãi:</label> <input type="number" class="form-control" id="giakhuyenmai"
							name="giakhuyenmai" />
					</div>
				</div>
				<div class="form-group col-md-6">
					<label for="nam">Danh mục:</label> <select class="form-control"
						name="iddanhmuc" id="iddanhmuc">
						<option value="">Chọn danh mục...</option>
						<option th:each="danhMuc : ${danhMuc}" th:value="${danhMuc.id}"
							th:utext="${'Tên danh mục: '+danhMuc.ten}"></option>
					</select>
				</div>
				<div class="form-group col-md-6">
					<label for="nam">Nhà cung cấp:</label> <select class="form-control"
						name="idnhacungcap" id="idnhacungcap">
						<option value="">Chọn nhà cung cấp...</option>
						<option th:each="nhaCungCap : ${nhaCungCap}" th:value="${nhaCungCap.id}"
							th:utext="${'Tên nhà cung cấp: '+nhaCungCap.ten}"></option>
					</select>
				</div>
				<div class="form-group">
					<label for="motangan">Mô tả ngắn:</label>
					<textarea id="motangan" name="motangan" rows="5" cols="50"></textarea>
				</div>
				<label class="form-check-label" for="gridCheck"> Mô tả chi
					tiết </label>
				<textarea id="editor1" name="motachitiet">
				</textarea>
				<div class="form-group">
					<label for="motangan">Ảnh sản phẩm:</label> <input id="fileInput"
						type="file" name="uploadingFiles" onchange="updateSize();"
						multiple> Tổng số files: <span id="fileNum">0</span>; Tổng
					lưu lượng: <span id="fileSize">0</span>
				</div>
				<input class="btn btn-primary" type="submit" value="Lưu" />
			</form>
		</div>
		<footer th:replace="admin/layout :: footer"></footer>
		<aside class="control-sidebar control-sidebar-dark"></aside>
	</div>
<script>
        CKEDITOR.replace('motangan');
        </script>
	<script>
        CKEDITOR.replace('editor1');
        </script>
	<script>
            function updateSize() {
                var nBytes = 0,
                        oFiles = document.getElementById("fileInput").files,
                        nFiles = oFiles.length;
                for (var nFileId = 0; nFileId < nFiles; nFileId++) {
                    nBytes += oFiles[nFileId].size;
                }

                var sOutput = nBytes + " bytes";
                // optional code for multiples approximation
                for (var aMultiples = ["KiB", "MiB", "GiB", "TiB", "PiB", "EiB", "ZiB", "YiB"], nMultiple = 0, nApprox = nBytes / 1024; nApprox > 1; nApprox /= 1024, nMultiple++) {
                    sOutput = nApprox.toFixed(3) + " " + aMultiples[nMultiple] + " (" + nBytes + " bytes)";
                }
                // end of optional code

                document.getElementById("fileNum").innerHTML = nFiles;
                document.getElementById("fileSize").innerHTML = sOutput;
            }
        </script>
	<script src="../static/quantri/js/themsanpham.js" th:src="@{/quantri/js/themsanpham.js}"
		type="text/javascript"></script>
</body>
</html>
